:root {
    --font-family: "Montserrat", sans-serif;
	--black: #111;
	--orange: #fd9222;
	--violet: #1e1823;
	--white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

address {
    font-style: normal;
}

body{
    font-family: var(--font-family);
    color: var(--black);
    background: var(--white);
}

.container {
    width: 1136px;
    margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* ---COMPONENTS--- */

.second-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

.piece-second-title{
    color: var(--orange);
}

/* ---HEADER--- */

.page-header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 90px;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 4px;
    padding-top: 24px;
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: var(--black);
}

.piece-logo{
    font-style: italic;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list-item:not(:last-child) {
    margin-right: 24px;
}

.nav-list-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--black);
}

.nav-list-link:hover,
.nav-list-link:focus{
    color: var(--orange);
}

.social-media-list {
    display: flex;
    align-items: center;
}

.social-media-list-item:not(:last-child){
    margin-right: 18px;
}

.social-media-list-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 32px;
}

/* ---HERO--- */

.hero{
    background: #111;
}

.main-title{
    max-width: 484px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.03em;
    color: var(--white);
}

.hero-additional-container {
    display: flex;
    align-items: center;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 14px;
}

.hero-list-btn{
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
}

.hero-list-btn:hover,
.hero-list-btn:focus{
    background: var(--orange);
}

.hero-scroll-down{
    display: block;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.03em;
    color: var(--white);
}

.hero-scroll-down:hover,
.hero-scroll-down:focus{
    color: var(--orange);
}
/* ---BENEFITS--- */

.benefits {
    background: #111;
}

.benefits-list {
    display: flex;
    align-items: center;
    gap: 70px;
}

.benefits-list-item {
    width: calc((100% - 140px) / 3);
}

.benefits-list-img {
    margin-bottom: 22px;
}

.benefits-list-title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
}

.benefits-list-description {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}


/* ---DESCRIPTIONS--- */


.description-second-title {
    max-width: 411px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.description-text{
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black);
}

.description-list {
    display: flex;
    align-items: center;
    gap: 19px;
}

.description-list-item {
    padding: 28px;
    width: calc((100% - 57px) / 4);
    border-radius: 15px;
    background-color: #fd9222;
}

.description-list-img {
    margin: 0 auto;
    margin-bottom: 36px;
}

.description-list-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--white);
}


/* ---HOW IT'S MADE --- */

.made-section-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: var(--black);
}

.made-section-list-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--black);
}


/* ---FEEDBACK--- */

.feedback-section-list-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: var(--black);
}

.feedback-section-list-comment{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.feedback-btn{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: var(--black);
}

.feedback-btn:hover,
.feedback-btn:focus{
    background: var(--orange);
    color: var(--white);
}


/* ---FOOTER--- */

.footer{
    background: #111;
}

.footer-text{
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: var(--orange);
}

.footer-piece-text{
    color: var(--orange);
}

.contact-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    color: var(--white);
}

.address-list-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--white);
}

.address-list-link:hover,
.address-list-link:focus{
    color: var(--orange);
}

.footer-nav-link{
    color: var(--white);
}

