@mixin font($fs, $fw, $lh, $color) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    color: $color;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolut-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin transition($property, $time: 250ms, $function: cubic-bezier(0.4, 0, 0.2, 1)){
    transition: $property, $time, $function;
}